gitaction-deploy-webhooks.json
{
  "name": "deploy-webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc3c9eb3-5798-43f0-845e-90e7765c5091",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -64
      ],
      "id": "f8f9c647-c391-4a34-b6f7-bd339c4ddd7e",
      "name": "Github Action Webhook1",
      "webhookId": "bc3c9eb3-5798-43f0-845e-90e7765c5091"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Slack payload from the webhook body\nconst payload = JSON.parse($input.first().json.body.payload);\n\n// Extract the button value from the actions array\nconst buttonValue = payload.actions[0].value;\n\n// Parse the JSON string from the button value\nconst parsedData = JSON.parse(buttonValue);\n\n// Return the parsed data with image, service, and action fields\nreturn [{\n  json: {\n    action: parsedData.action,\n    image: parsedData.image,\n    service: parsedData.service\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        176
      ],
      "id": "155af136-ed9a-4b8a-aefb-2f0634943855",
      "name": "Values: action, image, service1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cbbb0ec-c364-4a7f-b71f-68ff97e7eb1b",
              "leftValue": "={{ $json.action }}",
              "rightValue": "=deploy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        176
      ],
      "id": "eec200cf-799c-4519-899b-b3958264b1ee",
      "name": "If deploy1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QHKALNTG",
          "mode": "list",
          "cachedResultName": "test-channel"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"배포할 새 이미지가 있습니다:\\n*{{ $json.body.image }}*\\n 배포하시겠습니까?\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\t\"text\": \"배포\"\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"primary\",\n\t\t\t\t\t\"value\": \"{\\\"action\\\":\\\"deploy\\\",\\\"image\\\":\\\"{{ $json.body.image }}\\\",\\\"service\\\":\\\"{{ $json.body.service }}\\\"}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\t\"text\": \"카나리 배포\"\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"primary\",\n\t\t\t\t\t\"value\": \"{\\\"action\\\":\\\"canary\\\",\\\"image\\\":\\\"{{ $json.body.image }}\\\",\\\"service\\\":\\\"{{ $json.body.service }}\\\"}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"emoji\": true,\n\t\t\t\t\t\t\"text\": \"취소\"\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"danger\",\n\t\t\t\t\t\"value\": \"{\\\"action\\\":\\\"cancel\\\",\\\"image\\\":\\\"{{ $json.body.image }}\\\",\\\"service\\\":\\\"{{ $json.body.service }}\\\"}\"\n\t\t\t\t}\n\t\t\t]\n\t\t}\n\t]\n}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        192,
        -64
      ],
      "id": "c007e3d2-4b6f-4e40-8dfe-767bc1e1826d",
      "name": "send msg with buttons1",
      "webhookId": "b85e8545-c381-4826-88f2-c9e0373b446c",
      "credentials": {
        "slackApi": {
          "id": "28Ld5ol5ScuLQfNA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QHKALNTG",
          "mode": "list",
          "cachedResultName": "test-channel"
        },
        "text": "취소되었습니다.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        672,
        336
      ],
      "id": "c457f48f-44cf-4036-b425-1b99b8340495",
      "name": "Deploy Canceled1",
      "webhookId": "60394e16-c6e5-494b-ac04-a53fa7b35637",
      "credentials": {
        "slackApi": {
          "id": "28Ld5ol5ScuLQfNA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "743e6bf7-853e-4a26-9798-cd78c83e13a8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        176
      ],
      "id": "67bd0b6c-8112-47ad-9853-abc7e756d7b4",
      "name": "Slack Interactive Webhook1",
      "webhookId": "743e6bf7-853e-4a26-9798-cd78c83e13a8"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://run.googleapis.com/v2/projects/flowing-lead-308309/locations/asia-northeast3/services/{{$json[\"service\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Content-Type: application/json",
        "body": "={\n  \"template\": {\n    \"containers\": [\n      { \"image\": \"{{ $json.image }}\" }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        80
      ],
      "id": "e338298c-e415-4a94-bea1-f4732b1a1e29",
      "name": "GCP Cloud Run RESTAPI",
      "credentials": {
        "googleApi": {
          "id": "0gUZv9mgkR72O1Ne",
          "name": "Google Service Account account"
        },
        "googleOAuth2Api": {
          "id": "insLNfHrwa298yoP",
          "name": "Google account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Action Webhook1": {
      "main": [
        [
          {
            "node": "send msg with buttons1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Values: action, image, service1": {
      "main": [
        [
          {
            "node": "If deploy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If deploy1": {
      "main": [
        [
          {
            "node": "GCP Cloud Run RESTAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deploy Canceled1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Interactive Webhook1": {
      "main": [
        [
          {
            "node": "Values: action, image, service1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6556477c-649e-45bd-b883-1e758de46cda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f118d8e9e9bca66583b47d1d562fe0913f4429ba6d53b56d4487013c536bf0d1"
  },
  "id": "Wi0jPP2wCeqTE8UH",
  "tags": []
}
