gitaction-deploy-webhooks.json
{
  "name": "gitaction-deploy-webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bc3c9eb3-5798-43f0-845e-90e7765c5091",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        2640
      ],
      "id": "b682a680-161c-4b95-9e00-d3f53b132457",
      "name": "Github Action Webhook",
      "webhookId": "bc3c9eb3-5798-43f0-845e-90e7765c5091"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Slack payload from the webhook body\nconst payload = JSON.parse($input.first().json.body.payload);\n\n// Extract the button value from the actions array\nconst buttonValue = payload.actions[0].value;\n\n// Handle button value that is either JSON or plain string (e.g.: \"cancel\")\nlet result = {};\nif (typeof buttonValue === 'string' && buttonValue.trim().startsWith('{')) {\n  const parsedData = JSON.parse(buttonValue);\n  result = {\n    action: parsedData.action,\n    image: parsedData.image,\n    service: parsedData.service\n  };\n} else {\n  // Plain value, put as action, others empty\n  result = {\n    action: buttonValue,\n    image: null,\n    service: null\n  };\n}\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        2864
      ],
      "id": "a1d8b71b-2210-4021-a2f9-7692d7bdc380",
      "name": "Values: action, image, service"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6cbbb0ec-c364-4a7f-b71f-68ff97e7eb1b",
              "leftValue": "={{ $json.action }}",
              "rightValue": "=deploy",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        2864
      ],
      "id": "da789147-0efb-4f0d-98fe-9fc2fff49e36",
      "name": "If deploy"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QHKALNTG",
          "mode": "list",
          "cachedResultName": "test-channel"
        },
        "messageType": "block",
        "blocksUi": "={ \"text\": \"새 이미지가 빌드되었습니다.\", \"blocks\": [ { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": \"*✅ Artifact Registry 업로드 완료!*\\n배포하시겠습니까?\" } }, \n{ \"type\": \"actions\", \n\"elements\": \n[\n{ \"type\": \"button\", \n\"text\": { \"type\": \"plain_text\", \"text\": \"배포하기\" }, \n\"style\": \"primary\", \n\"value\": \"{\\\"action\\\":\\\"deploy\\\",\\\"image\\\":{{ $json.body.image }},\\\"service\\\":{{ $json.body.service }}}\"\n}, \n{ \"type\": \"button\", \n\"text\": { \"type\": \"plain_text\", \"text\": \"취소\" }, \n\"style\": \"danger\", \n\"value\": \"cancel\" } ] } ] }",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        592,
        2640
      ],
      "id": "e5d02055-a587-4a3c-bd74-2d07f4ef163d",
      "name": "send msg with buttons",
      "webhookId": "b85e8545-c381-4826-88f2-c9e0373b446c",
      "credentials": {
        "slackApi": {
          "id": "28Ld5ol5ScuLQfNA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09QHKALNTG",
          "mode": "list",
          "cachedResultName": "test-channel"
        },
        "text": "배포가 취소되었습니다.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1072,
        2976
      ],
      "id": "b98e2908-dc94-4a81-9b74-445fa865e4f2",
      "name": "Deploy Canceled",
      "webhookId": "60394e16-c6e5-494b-ac04-a53fa7b35637",
      "credentials": {
        "slackApi": {
          "id": "28Ld5ol5ScuLQfNA",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://run.googleapis.com/v2/projects/flowing-lead-308309/locations/asia-northeast3/services/{{$json[\"service\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Content-Type: application/json",
        "body": "={\n  \"name\": \"projects/PROJECT_ID/locations/asia-northeast3/services/sample-api\",\n  \"description\": \"Sample service deployed via REST API\",\n  \"labels\": {\n    \"env\": \"prod\",\n    \"team\": \"platform\"\n  },\n  \"ingress\": \"INGRESS_TRAFFIC_ALL\",\n  \"template\": {\n    \"containers\": [\n      {\n        \"image\": \"{{$json[\"image\"]}}\",\n        \"env\": [\n          {\n            \"name\": \"ENV\",\n            \"value\": \"prod\"\n          }\n        ],\n        \"resources\": {\n          \"limits\": {\n            \"cpu\": \"1\",\n            \"memory\": \"512Mi\"\n          }\n        }\n      }\n    ],\n    \"timeout\": \"300s\",\n    \"serviceAccount\": \"my-run-sa@PROJECT_ID.iam.gserviceaccount.com\"\n  },\n  \"traffic\": [\n    {\n      \"percent\": 100,\n      \"latestRevision\": true\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        2768
      ],
      "id": "d3c4d66b-3631-4bf5-a49a-8f494dc9dd9d",
      "name": "GCP Cloud Run RESTAPI",
      "credentials": {
        "googleApi": {
          "id": "0gUZv9mgkR72O1Ne",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "743e6bf7-853e-4a26-9798-cd78c83e13a8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        2864
      ],
      "id": "f0d0035a-1f80-495c-9b79-573e05f47b4a",
      "name": "Slack Interactive Webhook",
      "webhookId": "743e6bf7-853e-4a26-9798-cd78c83e13a8"
    }
  ],
  "pinData": {},
  "connections": {
    "Github Action Webhook": {
      "main": [
        [
          {
            "node": "send msg with buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Values: action, image, service": {
      "main": [
        [
          {
            "node": "If deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If deploy": {
      "main": [
        [
          {
            "node": "GCP Cloud Run RESTAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deploy Canceled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Interactive Webhook": {
      "main": [
        [
          {
            "node": "Values: action, image, service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "001612c5-06e4-46cc-b360-591a6398b262",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f118d8e9e9bca66583b47d1d562fe0913f4429ba6d53b56d4487013c536bf0d1"
  },
  "id": "Wi0jPP2wCeqTE8UH",
  "tags": []
}
